<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Console Me</title>
    {% block style %}{% endblock %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" rel="stylesheet" type="text/css">
    <style>
        .p-4 {
            padding: 4px;
        }
        .gpt-break{
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="p-4">
    <div class="ui segment">
            {% block body %}{% endblock %}
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
    {% block scripts %}{% endblock %}
    <script>
        $('.ui.dropdown').dropdown();
    </script>
</body>

</html>