{% extends "base.html" %}

{% block title %}Index Page{% endblock %}

{% block style %}
<style>
    .float-right {
        float: right
    }

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 5px
    }

    .user-message {
        text-align: right;
    }

    .character-message {
        text-align: left;
    }
</style>
{% endblock %}

{% block body %}
<div class="grid">
    <div class="row">
        <div class="column">
            <div class="input-group">
                <span class="input-group-text">Your Character</span>
                <p>You are the customer trying to buy from the shopkeeper a coffee worth $5 for $4</p>
            </div>

        </div>
    </div>
    <h4 class="ui horizontal divider header">
        Chat History
    </h4>
    <div class="row">
        <div class="column">
            <div class="ui segment" id="chat-history">
            </div>
        </div>
    </div>
    <div class="gpt-break"></div>
    <div class="row">
        <div class="column">
            <div class="ui teal progress" id="progress-bar">
                <div class="bar"></div>
              </div>
        </div>
    </div>
    <div class="gpt-break"></div>
    <div class="row">
        <div class="column">
            <div class="ui fluid action input">
                <input type="text" placeholder="User Input..." id="user-input">
                <div class="ui button teal" id="send">Send</div>
            </div>
        </div>
    </div>
    <div class="ui basic modal">
        <div class="ui icon header">
        <i class="chess king icon"></i>
          You Won!
        </div>
        <div class="content">
          <p>You convinced the shopkeeper to let you have the coffee for $4</p>
        </div>
      </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        var chatHistory = [];
        var chatHistoryElement = $('#chat-history');
        var userInput = $('#user-input');
        var sendButton = $('#send');
        sendButton.on('click', onUserInput);
        userInput.on('keypress', function (e) {
            if (e.key === 'Enter') {
                onUserInput();
            }
        });
        function onUserInput() {
            var userMessage = userInput.val();
            chatHistory.push({
                role: 'User',
                content: userMessage
            });
            chatHistoryElement.append('<div class="user-message float-right ui label teal">' + userMessage + '</div><div class="clearfix" />');
            userInput.val('');
            // send user input to server
            $.ajax({
                url: '/convinceme_input',
                method: 'POST',
                data: JSON.stringify({
                    chathistory: chatHistory
                }),
                contentType: 'application/json',
                success: function (response) {
                    chatHistory.push({
                        role: "AI",
                        content: response.message
                    });

                    chatHistoryElement.append('<div class="character-message ui label grey">' + response.message + '</div><div class="clearfix" />');

                    let progress = response.progress;
                    let convinced = response.convinced;
                    if(convinced){
                        $('.ui.basic.modal').modal('show');
                    }
                    $('#progress-bar').progress({
                        percent: progress*10
                    });
                }
            });
        }

    });
</script>
{% endblock %}
</body>

</html>